body {
    margin: 0;
    padding: 20px;
    background: #564848;
    font-family: ArialBlack;
}

body {
    background-image: url("https://i.ibb.co.com/B2LzPW5v/d7d8e386e1170baaedfc48af63d4ab7f.jpg");
  background-color: #eaeaea;
  margin: 0;
}


.foto-box {
    position: absolute;
    top: 75px;
    left: 830px;
}

.foto-box img {
    width: 210px;
    height: 280px;
    border-radius: 0%;
    object-fit: cover;
    border: 3px solid #333;
}


.website{
  padding:0 24px;
  border-radius:20px;
  height:100px;
  width:525px;
  display:flex;
  align-items:center;
  margin-left:150px;
  margin-top:50px;
}

.website h2{
  margin:0;
  font-size:65px;
  letter-spacing:1px;
  font-family:"Lilita One",sans-serif;
  color:rgb(255, 255, 255)
}

.profile{
  padding:0 24px;
  border-radius:20px;
  height:100px;
  width:525px;
  display:flex;
  align-items:center;
  margin-left:250px;
  margin-top:-10px;
}

.profile h3{
  margin:0;
  font-size:65px;
  letter-spacing:1px;
  font-family:"Lilita One",sans-serif;
  color:rgb(255, 255, 255)
}

.khaeirunnisa{
  padding:0 24px;
  border-radius:20px;
  height:100px;
  width:525px;
  display:flex;
  align-items:center;
  margin-left:300px;
  margin-top:-10px;
}

.khaeirunnisa h4{
  margin:0;
  font-size:65px;
  letter-spacing:1px;
  font-family:"Lilita One",sans-serif;
  color:rgb(255, 255, 255)
}

.biodata-box {
    width: 500px;             
    border: 2px solid #333;    
    border-radius: 40px;       
    padding: 15px;             
    margin-top: 100px;          
    margin-left: 70px;      
    font-family:"arial",sans-serif;   
    background-color: #dedede; 
}

.biodata-box h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.biodata-table {
    width: 100%;
    font-size: 20px;
}

.biodata-table td {
    padding: 5px 0;
}

.data-pribadi {
    width: 300px;          
    height: 35px;   
    border: 5px solid #000000;    
    border-radius: 40px;       
    padding: 15px;             
    margin-top: -350px;          
    margin-left: 170px;      
    font-family:"arial",sans-serif;   
    background-color: #dedede; 
}

.data-pribadi h3 {
    margin-top: 0px;
    height: 0px;
    font-size: 35px;
    text-align: center;
    font-family:"Inconsolata",sans-serif;
}

.riwayat {
    width: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px;
    margin-top: 410px;
    margin-left: 250px;
    font-family:"arial",sans-serif;
    background-color: #dedede;
}

.riwayat h4 {
    margin-top: 0;
    font-size: 1px;
    text-align: center;
    font-family:"arial",sans-serif;
}

.riwayat-table {
    width: 100%;
    font-size: 15px;
}

.riwayat-table td {
    padding: 5px 0;
}

.pendidikan {
    width: 300px;          
    height: 35px;   
    border: 5px solid #000000;    
    border-radius: 40px;       
    padding: 15px;             
    margin-top: -250px;          
    margin-left: 400px;      
    font-family:"arial",sans-serif;   
    background-color: #dedede; 
}

.pendidikan h5 {
    margin-top: 0px;
    height: 0px;
    font-size: 35px;
    text-align: center;
    font-family:"Inconsolata",sans-serif;
}

.kotak {
    width: 900px;
    height: 900px;
}




